.project_new{
  width: calc(100vw - 170px);
  margin: 25px 20px 25px 30px;
}

.project_form {
  margin-top: 30px;
}

.project_form_head{
  display: flex;
  height: 380px;
}

.project_form_left{
  width: 40%;
}

.project_form_right{
  width: 60%;
  border-left: 1px black solid;
  padding-left: 30px;
}

.project_name{
  width: 70%;
}


.project_form_a, .project_form_b{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}



.project_form_b_bottom{
  display: flex;
}

.project_users_choice{
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 45%;
  height: 250px;
}

.project_users_choice .checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 5px; /* 各チェックボックスとユーザー名の間の余白 */
}

.project_users_choice .checkbox input[type="checkbox"] {
  margin-right: 5px; /* チェックボックスとユーザー名の間の余白 */
}

.project_users_choice_between{
  width: 4%;
}

.project_users_choice_result{
  border: 1px solid black;
  width: 45%;
  margin-right: 10px;
}

.project_description{
  width: 90%;
  height: 320px;
}

.project_form_bottom{
  margin-top: 10px;
}

.project_new_border{
  border-top: 1px solid black ;
  margin-top: 15px;
}

.project_form_preview{
  margin: 10px 0;
}

.step_block {
  margin-bottom: 20px;
}

.step_todos {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* チェックボックス間のスペースを調整 */
}

.step_todos .checkbox {
  display: flex;
  align-items: center;
  margin-right: 10px; /* チェックボックスとラベルの間のスペース */
}