body{
  height: 100vh;
}

.display{
  display: flex;
}

.main_menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 530px;
}

.main_menu_top{
  width: 500px;
  margin-top: 200px;
  position: relative;
}

.new_menu{
  display: none;
  position: absolute;
  top: 80px;
  left: 20px;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.8); /* 半透明の背景色 */
  padding: 10px;
  border-radius: 5px;
  width:300px;
}


.new_menu a{
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.confirm_menu a{
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.menu_todo{
  margin-right: 120px;
}

.top_logo_top{
  width: 300px;
  height: 140px;
  margin-bottom: 10px;
}

.main_menu_bottom{
  width: 520px;
}

.top_logo_bottom_left{
  width: 148px;
  height: 118px;
  margin-right: 10px;
  position: relative;
}

.confirm_menu{
  display: none;
  flex-direction: column;
  position: absolute;
  top: 500px;
  left: 150px;
  background-color: rgba(255, 255, 255, 0.8); /* 半透明の背景色 */
  padding: 10px;
  border-radius: 5px;
  width:200px;
  justify-content: center;
  text-align:right
}


.top_logo_bottom_right{
  width: 148px;
  height: 118px;
  margin-left: 10px;
}

/* ここからメインビュー */


.main_view_projects{
  margin: 25px 0px 25px 30px;
  font-weight: bold;
}

.main_view_projects{
  height: 200px;
  overflow: scroll;
}

.main_view_border{
  margin-left: 10px;
  height: 10px;
  border-bottom: 3px solid rgb(247, 173, 173);
}

.main_view_todos{
  margin: 15px 0px 0 30px;
  font-weight: bold;
}

.main_view_todo_list_box, .main_view_project_list_box{
  height: 300px;
  width: calc(100vw - 170px);
  margin-top: 10px;
  font-weight:normal;
  overflow: scroll;
}

.todo_table, .project_table {
  border: 2px solid #a3a3a3; /* テーブル全体の枠線を青色に */
  border-collapse: collapse; /* 重なりをなくして、枠線を一つに */
}

.todo_table th, .project_table th {
  height: 10px;
  line-height: 10px;
  font-size: 15px;
}

.todo_table td, .project_table td {
  height: 15px;
  line-height: 15px;
  text-overflow: ellipsis; 
}


.todo_table, .project_table {
  width: 100%;
}

.todo_checkbox, .project_checkbox{
  width: 8% ;
}
.todo_title, .project_title {
  width: 20%; /* タイトルの列幅を20%に設定 */
}

.todo_content, .project_description {
  width: 60%; /* 内容の列幅を60%に設定 */
}

.todo_deadline, .project_progress {
  width: 12%;
}

.small-text{
  font-size: 10px;
}